<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>requestFilter</servlet-name>
        <servlet-class>com.filters.requestFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderFilter</servlet-name>
        <servlet-class>com.filters.orderFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gyg</servlet-name>
        <servlet-class>com.filters.gyg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestFilter</servlet-name>
        <url-pattern>/requestFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderFilter</servlet-name>
        <url-pattern>/orderFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gyg</servlet-name>
        <url-pattern>/gyg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>filters</filter-name>
        <filter-class>com.filters.myfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filters</filter-name>
        <url-pattern>/requestFilter</url-pattern>
    </filter-mapping>
</web-app>
